*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(0, 0, 0,0.1);
}

.container{
    width: 100%;
    height: 100vh;
}

.container h1{
    text-align: center;
    padding-top: 20px;
    color: blue;
}

.container fieldset{
    width: fit-content;
    padding: 20px 10px;
    margin: 20px auto;
    font-size: 1.2rem;
    border: 2px solid grey;
}

fieldset legend{
    font-style: italic;
}

fieldset input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    margin-top: 10px;
    padding: 5px;
    outline: none;
    width: 300px;
    margin-left: 10px;
    cursor: pointer;
}

span{
    font-size: 10px;
    vertical-align: top;
    color: red;
}

fieldset button{
    width: 100%;
    background-color: rgba(0, 0, 0,0.1);
    border: 1px solid black;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

h2{
    text-align: center;
    color: blue;
}

.entriesTable{
    border-collapse: collapse;
    margin: 20px auto;
}

.entriesTable th{
    background-color: gray;
    color: white;
    text-shadow: 0px 0px 2px black;
}

.entriesTable th, .entriesTable td{
    border: 1px solid black;
    padding: 5px 10px;
}

.entriesTable tbody td{
    padding: 5px;
}

.entriesTable button{
    border: 1px solid black;
    width: 100%;
    padding: 5px;   
    font-size: 1.2rem;
    background-color: red;
    color: white;
}